<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_login</key>
	<string>userAction!userLogin.action</string>
	<key>user_regist</key>
	<string>userAction!userRegister.action</string>
	<key>fetch_code</key>
	<string>userAction!getVerifyCode.action</string>
	<key>get_citys</key>
	<string>regionAction!getCities.action</string>
	<key>publish</key>
	<string>publishAction!sendPublish.action</string>
	<key>advise</key>
	<string>adviceAction!sendAdvice.action</string>
	<key>merchant_type</key>
	<string>shopAction!getShopTypes.action</string>
	<key>distance_type</key>
	<string>shopAction!getShopDistances.action</string>
	<key>area_type</key>
	<string>shopAction!getShopAreas.action</string>
	<key>get_shops</key>
	<string>shopAction!getShops.action</string>
	<key>get_vouchers</key>
	<string>shopAction!getVouchers.action</string>
	<key>purchase</key>
	<string>purchaseAction!purchase.action</string>
	<key>getWallet</key>
	<string>walletAction!getWallet.action</string>
	<key>useVoucher</key>
	<string>walletAction!useWallet.action</string>
	<key>deleteVoucher</key>
	<string>walletAction!deleteVoucher.action</string>
</dict>
</plist>
